name: mime2extension
description: "A Flutter package for converting between MIME types and file extensions with wildcard support."
version: 0.0.3
homepage: https://github.com/tidu090/mime2extension
repository: https://github.com/tidu090/mime2extension

environment:
  sdk: ^3.7.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
